@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privicy is very important. Especially when creating a web project for class.</p>
<p>@ViewBag.Message</p>
<p>@ViewBag.MyFavoriteColor</p>
<p>@ViewBag.Button2</p>
